.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #4363d1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 95vw;
  height: 35vh;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: -1;
}

.home {
  margin-top: -15vh;
  width: 50vw;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10vh 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.start-button {
  width: 15vw;
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  background-color: #4363d1;
  border: 2px solid #4363d1;
}

.question {
  width: 50vw;
  margin-top: -15vh;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10vh 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.optionsClass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70vw;
  gap: 10px; /* use gap for spacing between items */
  flex-wrap: wrap; /* add this if you want options to wrap */
}

.optionButton {
  padding: 15px;
  width: max-content;
  border: 2px solid transparent;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.optionButton:hover, .optionButton:visited {
  box-shadow: #4363d1 0px 2px 4px 0px, #4363d1 0px 2px 16px 0px;
}

.optionButton.selected {
  box-shadow: #4363d1 0px 2px 4px 0px, #4363d1 0px 2px 16px 0px;
}

.next-button, .submit-button {
  width: 15vw;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  background-color: #4363d1;
  border: 2px solid #4363d1;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.navigation .active {
  color: white;
  background-color: #4363d1;
}

.result {
  width: 50vw;
  margin-top: -15vh;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5vh 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.result h2 {
  font-size: 24px;
}

.result p {
  font-size: 20px;
}

.home-button {
  width: 15vw;
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  background-color: #4363d1;
  border: 2px solid #4363d1;
}


@media screen and (max-width: 480px) {
  .question,.result{
    width: 90vw;
  }
  .next-button, .submit-button, .home-button {
    width: 35vw;
  }
}